@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Roboto", sans-serif;
}
.logo span, .sac{
    font-family: "Sacramento", "cursive";
}

.animation{
    left: 0 !important;
}

.hero{
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)), url("../images/overlay.png") !important;
}

::selection{
    background-color: #DEC700;
    color: black;
}

.hero-section{
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)), url("../assets/overlay.png") !important;

}
/* p{
    text-shadow: 0  4px  4px  #000 !important;
} */

.hero-section p , .fruit-cards .card{
    filter: drop-shadow(0 4px 4px #000000) !important;
}